<!DOCTYPE html>
<html>
<head>
    <title> Milk <%= @name.capitalize%>?</title>
    <link rel='stylesheet' href='/bootstrap/css/bootstrap.css'>
</head>
<body>
	<div class="hero-unit">
    	<h1> Would you like milk with that <%= @name.capitalize %>?</h1>
	</div>
</body>
</html>