<!DOCTYPE html>
<html>
<head>
    <title> Sugar <%= @name.capitalize%>?</title>
    <link rel='stylesheet' href='/bootstrap/css/bootstrap.css'>
</head>
<body>
	<div class="hero-unit">
    	<h1>How many sugars would you like <%= @name.capitalize %>?</h1>
	</div>
</body>
</html>